.pessoa__imagem {
    background-size: cover;
    background-position: center;
    background: no-repeat;
    border-radius: 100%;
    height: 250px;
    margin: auto;
    width: 250px;
}

.pessoa__imagem--roberta {
    background-image: url('/assets/img/pessoas/roberta.jpg');
}

.pessoa__imagem--marcela {
    background-image: url('/assets/img/pessoas/marcela.jpg');
}

.pessoa__imagem--andreia {
    background-image: url('/assets/img/pessoas/andreia.jpg');
}